{% extends 'mailing/base.html' %}

{% block content %}
    {% for object in object_list %}
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <p class="card-text">
                    {{ object.email }}
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="{% url 'users:view_user' object.pk %}"
                           class="btn btn-sm btn-outline-secondary">View</a>
                        {% if user.is_superuser %}
                            <a href="{% url 'users:edit_user' object.pk %}" type="button"
                               class="btn btn-sm btn-outline-secondary">Edit</a>
                            <a href="{% url 'users:delete_user' object.pk %}" type="button"
                               class="btn btn-sm btn-outline-secondary">Delete</a>
                        {% endif %}
                        {% if object.is_active %}
                            <a href="{% url 'users:change-activity' object.pk %}" type="button"
                               class="btn btn-sm btn-outline-secondary">Deactivate</a>
                            {% else %}
                            <a href="{% url 'users:change-activity' object.pk %}" type="button"
                               class="btn btn-sm btn-outline-secondary">Activate</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}