{% extends 'mailing/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <h2 class="card-title">{{ object.email }}</h2>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{ object.first_name }}</li>
                    </ul>
                    <div class="btn-group">
                        {% if user.is_superuser %}
                            <a href="{% url 'users:edit_user' object.pk %}"
                               class="btn btn-lg btn-block btn-outline-primary">Изменить</a>
                            <a href="{% url 'users:delete_user' object.pk %}"
                               class="btn btn-lg btn-block btn-outline-danger">Удалить</a>
                        {% endif %}
                        {% if object.email is not Admin %}
                            {% if object.is_active %}
                                <a href="{% url 'users:change-activity' object.pk %}" type="button"
                                   class="btn btn-lg btn-block btn-outline-danger">Deactivate</a>
                                {% else %}
                                <a href="{% url 'users:change-activity' object.pk %}" type="button"
                                   class="btn btn-lg btn-block btn-outline-success">Activate</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}